#hiring{
  margin-top: 20px;
}
body{
    background-image: url(../images/mirrored_squares.png);
}
h2.ui.centered.header{
	margin-top: 10px;
}
#navbar{
	font-size: 1.2em;
}
#page1{
	margin-top: -15px;
    margin-left: -14px;
}
#pizzaMenu {
	padding-top: 5px;
}
.ui.divider {
	margin-top: 25px;
	margin-bottom: 10px;
}
#main-container{
	margin-top: 60px;
}
div.row.computer.only{
	padding-top: 0px;
}
.brand {
    padding-right: 0px !important;
}
@media only screen and (min-width: 768px) {
    .phone {
        font-size: 28px !important;
        float: left;
    }
    .address {
        float: right;
        font-size: 18px !important;
    }
    .name {
        margin-left: 15px !important;
    }
  } 
@media only screen and (min-width: 990px) {
    .name {
        margin-left: 80px !important;
    }
  } 
@media only screen and (min-width: 1200px) {
    .name {
        margin-left: 145px !important;
    }
  } 
/* google maps responsive */
.iframe-holder {
  position: relative;
  padding-bottom: 70%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.iframe-holder iframe,
.iframe-holder object,
.iframe-holder embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
  outline: 0;
}