

#page1{
	margin-top: -11px;
}
#pizzaMenu {
	padding-top: 5px;
	max-width: 1200px;

}
.ui.divider {
	margin-top: 25px;
	margin-bottom: 10px;
}


@media only screen and (min-width: 767px) {
    .phone {
        font-size: 28px !important;
        float: left;
    }
    .address {
        font-size: 20px !important;
    }
  } 

